<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="csrf-token" content="apzCthVmQgj75t3v/zrCgq6nhWkf7UTtgJZx0=">
      <title><%= title %> - Hackathon Starter</title>
      <link rel="stylesheet" href="/assets/main-f7562345bf9e833562d6e6b13706a2a7.css" />
   </head>
   <body>
      <div class="navbar navbar-default navbar-fixed-top">
         <div class="container">
            <div class="navbar-header"><button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><span class="ion-cube"></span>Project name</a></div>
            <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="/api">API Examples</a></li>
                  <li><a href="/contact">Contact</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="/login">Login</a></li>
                  <li><a href="/signup">Create Account</a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="container">
         <h2>API Examples</h2>
         <hr>
         <div class="row">
            <div class="col-sm-4">
               <a href="/api/github" style="color: #fff">
                  <div style="background-color: #000" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/2AaBlpf.png" height="40"> GitHub</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/twitter" style="color: #fff">
                  <div style="background-color: #00abf0" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/EYA2FO1.png" height="40"> Twitter</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/facebook" style="color: #fff">
                  <div style="background-color: #3b5998" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/jiztYCH.png" height="40"> Facebook</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/foursquare" style="color: #fff">
                  <div style="background-color: #1cafec" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/PixH9li.png" height="40"> Foursquare</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/ordrin" style="color: #eb533d">
                  <div style="background-color: #fff" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/zz0uwhc.png" height="40"> Ordr.in</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/instagram" style="color: #fff">
                  <div style="background-color: #947563" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/aRc6LUJ.png" height="40"> Instagram</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/lastfm" style="color: #fff">
                  <div style="background-color: #d21309" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/KfZY876.png" height="40"> Last.fm</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/linkedin" style="color: #fff">
                  <div style="background-color: #007bb6" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/sYmVWAw.png" height="40"> LinkedIn</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/nyt" style="color: #fff">
                  <div style="background-color: #454442" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/e3sjmYj.png" height="40"> New York Times</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/steam" style="color: #fff">
                  <div style="background-color: #000" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/1xGmKBX.jpg" height="40"> Steam</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/stripe" style="color: #fff">
                  <div style="background-color: #3da8e5" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/w3s2RvW.png" height="40"> Stripe</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/paypal" style="color: #000">
                  <div style="background-color: #f5f5f5" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/JNc0iaX.png" height="40"> PayPal</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/twilio" style="color: #fff">
                  <div style="background-color: #fd0404" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/mEUd6zM.png" height="40"> Twilio</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/tumblr" style="color: #fff">
                  <div style="background-color: #304e6c" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/rZGQShS.png" height="40"> Tumblr</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/scraping" style="color: #fff">
                  <div style="background-color: #ff6500" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/RGCVvyR.png" height="40"> Web Scraping</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/venmo" style="color: #fff">
                  <div style="background-color: #1f93cf" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/90tl9C8.gif" height="40"> Venmo</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/yahoo" style="color: #fff">
                  <div style="background-color: #3d048b" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/Cl6WJAu.png" height="40"> Yahoo</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/clockwork" style="color: #fff">
                  <div style="background-color: #000" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/YcdxZ5F.png" height="40"> Clockwork SMS</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/aviary" style="color: #fff">
                  <div style="background: linear-gradient(to bottom, #1f3d95 0%,#04aade 100%)" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/npBRwMI.png" height="40"> Aviary</div>
                  </div>
               </a>
            </div>
            <div class="col-sm-4">
               <a href="/api/lob" style="color: #fff">
                  <div style="background-color: #176992" class="panel panel-default">
                     <div class="panel-body"><img src="http://i.imgur.com/bmgfsSg.png" height="40"> Lob</div>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <footer>
         <div class="container text-center">
            <p class="pull-left">© 2015 Company, Inc. All Rights Reserved</p>
            <ul class="pull-right list-inline">
               <li><a href="https://github.com/sahat/hackathon-starter">GitHub Project</a></li>
               <li><a href="https://github.com/sahat/hackathon-starter/issues">Issues</a></li>
            </ul>
         </div>
      </footer>
      <script src="/assets/lib/jquery-2.1.3.min-fb3597cbe1cdc76949bce8bf3fb36e1c.js"></script>
      <script src="/assets/lib/bootstrap.min-a9fd3e10700812ef5a95296618c718b8.js"></script>
      <script src="/assets/main-5940a6324e281cb0aa565525686b0743.js"></script>
      <script src="/assets/application-1aa72d0ce60eb8e85eec5034cae14f44.js"></script>
   </body>
</html>
